<div class="page-header">
  <h1>
    Staff reviews
    <a href="/staff_reviews/new" class="btn btn-lg btn-success">New Staff review</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Staff</th>
        <th>Shift</th>
        <th>Overall rating</th>
        <th>Punctuality</th>
        <th>Appearance</th>
        <th>Professionalism</th>
        <th>Work ethic</th>
        <th>Hire again</th>
        <th>Private comments</th>
        <th>Actions</th>
      </tr>

      <% @staff_reviews.each do |staff_review| %>
      <tr>
        <td><%= staff_review.staff.firstname %></td>
        <td><%= staff_review.shift.start_time %></td>
        <td><%= staff_review.overall_rating %></td>
        <td><%= staff_review.punctuality %></td>
        <td><%= staff_review.appearance %></td>
        <td><%= staff_review.professionalism %></td>
        <td><%= staff_review.work_ethic %></td>
        <td><%= staff_review.hire_again %></td>
        <td><%= staff_review.private_comments %></td>
        <td>
          <a href="/staff_reviews/<%= staff_review.id %>" class="btn btn-primary">Show</a>
          <a href="/staff_reviews/<%= staff_review.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_staff_review/<%= staff_review.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @staff_reviews, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
