<div class="page-header">
  <h3>Restaurant #<%= @restaurant.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Restaurant name</dt>
      <dd><%= @restaurant.restaurant_name %></dd>

      <dt>Address</dt>
      <dd><%= @restaurant.address %></dd>

      <dt>Latitude</dt>
      <dd><%= @restaurant.latitude %></dd>

      <dt>Longitude</dt>
      <dd><%= @restaurant.longitude %></dd>

      <dt>Description</dt>
      <dd><%= @restaurant.description %></dd>

      <dt>Hero image</dt>
      <dd><img src="<%= @restaurant.hero_image %>" class="img-responsive"></dd>

      <dt>Contact name</dt>
      <dd><%= @restaurant.contact_name %></dd>

      <dt>Contact telephone</dt>
      <dd><%= @restaurant.contact_telephone %></dd>

      <dt>User</dt>
      <dd>
        <% if @restaurant.user.present? %>
          <a href="/users/<%= @restaurant.user_id %>">
            <%= @restaurant.user.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/restaurants" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @restaurant.user %>
        <a href="/restaurants/<%= @restaurant.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_restaurant/<%= @restaurant.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Restaurant has many staffs -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Staffs
      </li>

      <% @restaurant.staffs.each do |staff| %>
        <li class="list-group-item">
          <a href="/staffs/<%= staff.id %>">
            <%= staff.firstname %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/staffs/<%= staff.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/staffs/<%= staff.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_staff/<%= staff.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_staff" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for firstname -->
      <div class="form-group">
        <label for="firstname" class="control-label">
          Firstname
        </label>

        <input type="text" id="firstname" name="firstname" placeholder="Firstname" class="form-control" value="">
      </div>

      <!-- Label and input for lastname -->
      <div class="form-group">
        <label for="lastname" class="control-label">
          Lastname
        </label>

        <input type="text" id="lastname" name="lastname" placeholder="Lastname" class="form-control" value="">
      </div>

      <!-- Label and input for contact_telephone -->
      <div class="form-group">
        <label for="contact_telephone" class="control-label">
          Contact telephone
        </label>

        <input type="text" id="contact_telephone" name="contact_telephone" placeholder="Contact telephone" class="form-control" value="">
      </div>

      <!-- Label and input for home_restaurant_id -->
      <div class="form-group">
        <label for="home_restaurant_id" class="control-label">
          Home restaurant
        </label>

        <%= select_tag(:home_restaurant_id, options_from_collection_for_select(Restaurant.all, :id, :restaurant_name), :class => "form-control") %>
      </div>

      <!-- Label and input for photo -->
      <div class="form-group">
        <label for="photo" class="control-label">
          Photo
        </label>

        <input type="file" id="photo" name="photo" class="form-control">
      </div>

      <!-- Label and input for role_id -->
      <div class="form-group">
        <label for="role_id" class="control-label">
          Role
        </label>

        <%= select_tag(:role_id, options_from_collection_for_select(Role.all, :id, :role_name), :class => "form-control") %>
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Staff
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Restaurant has many restaurant_reviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Restaurant_reviews
      </li>

      <% @restaurant.restaurant_reviews.each do |restaurant_review| %>
        <li class="list-group-item">
          <a href="/restaurant_reviews/<%= restaurant_review.id %>">
            <%= restaurant_review.overall_rating %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/restaurant_reviews/<%= restaurant_review.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/restaurant_reviews/<%= restaurant_review.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_restaurant_review/<%= restaurant_review.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_restaurant_review" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for overall_rating -->
      <div class="form-group">
        <label for="overall_rating" class="control-label">
          Overall rating
        </label>

        <input type="text" id="overall_rating" name="overall_rating" placeholder="Overall rating" class="form-control" value="">
      </div>

      <!-- Label and input for tips_received -->
      <div class="form-group">
        <label for="tips_received" class="control-label">
          Tips received
        </label>

        <input type="text" id="tips_received" name="tips_received" placeholder="Tips received" class="form-control" value="">
      </div>

      <!-- Label and input for feedback -->
      <div class="form-group">
        <label for="feedback" class="control-label">
          Feedback
        </label>

        <input type="text" id="feedback" name="feedback" placeholder="Feedback" class="form-control" value="">
      </div>

      <!-- Label and input for work_again -->
      <div class="checkbox">
        <label for="work_again">
          <input type="checkbox" id="work_again" name="work_again" value="1" <%= "checked" if @restaurant_review.work_again %>>
          Work again
        </label>
      </div>

      <!-- Label and input for restaurant_id -->
      <input type="hidden" name="restaurant_id" value="<%= @restaurant.id %>">

      <!-- Label and input for shift_id -->
      <div class="form-group">
        <label for="shift_id" class="control-label">
          Shift
        </label>

        <%= select_tag(:shift_id, options_from_collection_for_select(Shift.all, :id, :start_time), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Restaurant Review
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Restaurant has many roles -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Roles
      </li>

      <% @restaurant.roles.each do |role| %>
        <li class="list-group-item">
          <a href="/roles/<%= role.id %>">
            <%= role.role_name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/roles/<%= role.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/roles/<%= role.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_role/<%= role.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_role" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for role_name -->
      <div class="form-group">
        <label for="role_name" class="control-label">
          Role name
        </label>

        <input type="text" id="role_name" name="role_name" placeholder="Role name" class="form-control" value="">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="">
      </div>

      <!-- Label and input for restaurant_id -->
      <input type="hidden" name="restaurant_id" value="<%= @restaurant.id %>">

      <button class="btn btn-block btn-success">
        Create Role
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
