<div class="page-header">
  <h3>Role #<%= @role.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Role name</dt>
      <dd><%= @role.role_name %></dd>

      <dt>Description</dt>
      <dd><%= @role.description %></dd>

      <dt>Restaurant</dt>
      <dd><%= @role.restaurant_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/roles" class="btn btn-primary">
        Back
      </a>
      <a href="/roles/<%= @role.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_role/<%= @role.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Role has many staffs -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Staffs
      </li>

      <% @role.staffs.each do |staff| %>
        <li class="list-group-item">
          <a href="/staffs/<%= staff.id %>">
            <%= staff.firstname %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/staffs/<%= staff.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/staffs/<%= staff.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_staff/<%= staff.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Role has many shifts -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Shifts
      </li>

      <% @role.shifts.each do |shift| %>
        <li class="list-group-item">
          <a href="/shifts/<%= shift.id %>">
            <%= shift.start_time %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/shifts/<%= shift.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/shifts/<%= shift.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_shift/<%= shift.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
